.c-featuredPicture {
    display: block;
    position: relative;
    &__icon {
        @include transition();
        @include roundedAll(50%);
        @include default__shadow;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 115px;
        height: 115px;
        position: absolute;
        z-index: 3;
        img {
            display: block;
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
        &.--a {
            background: $secondary;
            top: -30px;
            right: -30px;
        }
        &.--b {
            background: $white;
            right: -30px;
            bottom: -60px;
        }
    }
    &__bgEffect {
        @include roundedAll();
        @include default__shadow;
        display: block;
        width: 90%;
        height: 105%;
        position: absolute;
        right: -5px;
        bottom: -40px;
        z-index: 1;
        background: $primary;
    }
    &__img {
        @include roundedAll();
        @include default__shadow;
        overflow: hidden;
        position: relative;
        z-index: 2;
        img {
            display: block;
            width: 100%;
        }
    }

    &.--bgTop {
        .c-featuredPicture__bgEffect {
            bottom: 30px;
            height: 95%;
        }
    }
}

@media screen and (max-width: 510px) {
    .c-featuredPicture__icon {
        width: 80px;
        height: 80px;
        img {
            width: 32px;
            height: 32px;
        }
    }
}
