.c-linkReadMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    i {
        @include transition();
        @include roundedAll(50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $primary;
        svg, img {
            display: block;
            width: 9px;
            height: auto;
            object-fit: contain;
        }
    }
    span {
        @include transition();
        color: $primary;
        font-family: $fontFamily__bebas;
        font-size: 22px;
        position: relative;
        top: 2px;
        padding-right: 10px;
    }
    &:hover {
        i {
            background: $primaryDark;
            svg path {
                stroke: $primary;
            }
        }
        span {
            color: $primaryDark;
        }
    }
}
