.c-swiperCompanyNumbers {
    .swiper-slide {
        padding: 0 10px;
        max-width: 340px;
    }
}

@media screen and (max-width: 780px) {
    .c-swiperCompanyNumbers .swiper-slide {
        max-width: 100%;
    }
}
