.l-footer {
    @include bg(assets, 'bg_dark.jpg', no-repeat, cover, fixed, center);
    display: block;
    width: 100%;
    &__hero {
        padding: 80px 0;
        position: relative;
        .u-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__menu {
        @include flexWidth(50%);
        padding-right: 50px;
    }
    &__ctas {
        @include flexWidth(50%);
        padding-left: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .c-mainCTAs {
            max-width: 480px;
            min-width: 450px;
            >span {
                display: none;
            }
        }
    }
    &__brand {
        @include flexWidth(80px);
        position: absolute;
        left: 50%;
        margin-left: -40px;
    }
    &__copyright {
        padding: 30px 0;
        border-top: 1px solid $secondaryLight;
        .u-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }
        .by,
        .reserved {
            @include paragrafos($fs: 14px, $tc: $gray4);
        }
    }

    .c-smartMenu {
        .u-dnone {
            display: block !important;
        }
        .js-smartMenu__li {
            display: none !important;
        }
    }
}

@media screen and (max-width: 1240px) {
    .l-footer {
        &__hero {
            .u-container {
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        &__menu {
            @include flexWidth(100%);
            padding-right: 0;
            order: 2;
            margin-top: 30px;
        }
        &__brand {
            // @include flexWidth(100%);
            order: 1;
            position: relative;
            left: 0;
            margin-left: 0;
        }
        &__ctas {
            @include flexWidth(100%);
            display: none;
            padding-left: 0;
            order: 3;
            justify-content: center;
        }

        &__copyright {
            .u-container,
            .reserved,
            .by{
                width: 100%;
                display: block !important;
                text-align: center;
            }
            .reserved {
                margin-bottom: 15px;
            }
        }

        .c-smartMenu>ul {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .l-footer {
        &__hero {
            padding: 60px 0 50px 0;
        }
        .c-smartMenu>ul {
            flex-wrap: wrap;
            > li {
                @include flexWidth(100%);
                margin-right: 0;
                margin-top: 10px;
                a {
                    text-align: center;
                }
            }
        }
    }
}
