.l-page {
    @include default__shadow;
    position: relative;
    z-index: 1;
    display: block;
    background: $white2;
}

.l-page.--about {
    .s-aboutUs {
        &:first-of-type {
            padding-top: 120px;
        }
    }
}
