.s-clients {
    background: $white3;
    overflow: hidden;
    .s-defaultSection__head {
        margin-bottom: 25px;
    }
    .s-defaultSection__content {
        .u-container {
            max-width: 940px;
        }
        p {
            margin: 0 auto;
            font-size: 22px;
            max-width: 780px;
        }
    }
    .c-swiperClients {
        margin-top: 30px;
    }
}
