.s-contract {
    @include default__shadow;
    background: $white;
    .u-container {
        max-width: 880px;
    }
    .c-form {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .s-contract {
        .c-form__fieldsHero.--pad10>.c-form__field {
            max-width: 100% !important;
            min-width: 100% !important;
            width: 100% !important;
            flex: 1 1 auto !important;
        }
        .c-form__field.--check.--checkbox .checkHero.u-dflex li {
            @include flexWidth(100%);
            margin-right: 0;
        }
    }
}
