.s-plans {
    @include bg(assets, 'bg_yellow.jpg', no-repeat, cover, fixed, center);
    background-color: $primary;
    .s-defaultSection__head {
        margin-bottom: 40px;
        .u-container {
            max-width: 720px;
        }
        h2 {
            font-size: 50px;
        }
        p {
            @include paragrafos($tc: $black);
            text-align: center;
            margin-top: 15px;
        }
    }
    .s-defaultSection__content {
        .u-container {
            max-width: 1240px;
        }
    }
    &__support {
        padding-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .c-cardRequireContact {
        display: block;
        margin: 0 auto;
        max-width: 880px;
    }
}
@media screen and (max-width: 780px) {
    .s-plans {
        .c-cardRequireContact {
            .c-form__fieldsHero.--pad10>.c-form__field {
                @include flexWidth(100%);
            }
        }
    }
}

.c-tabPlans {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    &__tab {
        @include roundedAll(30px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding: 2px;
        background: $primaryLight;
        li {

        }
        a {
            @include roundedAll(30px);
            @include transition();
            background: $primaryLight;
            display: block;
            height: 56px;
            line-height: 56px;
            white-space: nowrap;
            font-family: $fontFamily__osc;
            font-weight: $fwBold;
            color: $black;
            font-size: 20px;
            padding: 0 20px;
            &:hover {
                background: $primary;
            }
            &.is-active {
                background: $secondary;
                color: $primary;
            }
        }
    }
    &__swiper {
        @include flexWidth(100%);
        margin-top: 40px;
        .swiper-slide {
            @include transition();
            @include opacity(0);
            pointer-events: none;
            &.swiper-slide-active {
                pointer-events: all;
                @include opacity(1);
            }
        }
    }

    &__list {
        @include calcWidthForPositionNegative(-10px);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        > li {
            @include flexWidth(33.3%);
            padding: 10px;
        }
    }
}
@media screen and (max-width: 840px) {
    .c-tabPlans__list {
        @include calcWidthForPositionNegative(-5px);
        > li {
            padding: 5px;
        }
    }
}
@media screen and (max-width: 760px) {
    .c-tabPlans__list {
        flex-wrap: wrap;
        >li {
            @include flexWidth(50%);
            &:last-of-type {
                @include flexWidth(100%);
            }
        }
    }
}
@media screen and (max-width: 560px) {
    .c-tabPlans__list {
        >li {
            @include flexWidth(100%);
            order: 2;
            &:first-of-type {
                order: 3;
            }
            &:last-of-type {
                order: 1;
            }
        }
    }
}

.c-cardPlan {
    @include transition();
    @include default__shadow;
    @include roundedAll();
    padding: 35px;
    background: $white;
    &__title {
        h3 {
            @include default__title($fs: 36px, $tc: $secondary);
        }
        hr {
            @include default__spacer();
            margin-top: 10px;
        }
    }
    &__price {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 0;
        .price__hero {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            span {
                position: relative;
                line-height: 1;;
            }
        }
        .b, .p, .z {
            font-family: $fontFamily__bebas;
            color: $primary;
        }
        .b, .z {
            font-size: 36px;
        }
        .p {
            font-size: 72px;
            padding: 0 4px;
        }
        .b {
            top: 7px;
        }
        .z {
            top: 30px;
        }
        .m {
            @include paragrafos($fs: 18px);
            @include flexWidth(100%);
            text-align: right;
            display: block;
            position: absolute !important;
            bottom: -10px;
        }
    }
    &__caption {
        p {
            @include paragrafos($fs: 22px);
            text-align: center;
        }
    }
    &__footer {
        padding-top: 30px;
        .c-btn {
            @include flexWidth(100%);
        }
        > span {
            @include paragrafos($fs: 14px);
            display: block;
            text-align: center;
            margin-top: 10px;
        }
    }
}
@media screen and (max-width: 1080px) {
    .c-cardPlan {
        &__title {
            h3 {
                font-size: 30px;
                max-width: 120px;
            }
        }
        &__price {
            .b, .z {
                font-size: 26px;
            }
            .b {
                top: 3px;
            }
            .z {
                top: 22px;
            }
            .p {
                font-size: 54px;
            }
            .m {
                font-size: 14px;
                bottom: -12px;
            }
        }
        &__caption {
            p {
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width: 840px) {
    .c-cardPlan {
        padding: 25px;
    }
}
@media screen and (max-width: 760px) {
    .c-cardPlan__title {
        h3 {
            max-width: 100%;
            text-align: center;
        }
        hr {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.c-whatsappCall {
    display: block;
    h4 {
        color: $black;
        font-family: $fontFamily__bebas;
        font-size: 24px;
        line-height: 1;
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        i {
            @include flexWidth(30px);
            position: relative;
            top: 2px;
            * {
                display: block;
                width: 100%;
            }
        }
        span {
            padding-left: 6px;
            color: $black;
            font-family: $fontFamily__bebas;
            font-size: 40px;
            line-height: 1;
        }
    }
}

