.s-requireContact {
    @include bg(assets, 'bg_yellow.jpg', no-repeat, cover, fixed, center);
    background-color: $primary;
    .u-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 1280px;
    }
    &__call {
        flex: 1 1 auto;
        padding-right: 80px;
        display: block;
        position: relative;
        padding-top: 55px;
        &:after {
            @include bg(assets, 'arrow.png', no-repeat, contain, inherit, center);
            content: '';
            display: block;
            width: 140px;
            height: 56px;
            position: absolute;
            top: -20px;
            right: -20px;
        }
        h2 {
            @include default__title($fs: 72px, $tc: $secondary);
            margin-bottom: 25px;
        }
        p {
            font-weight: $fwRegular;
            font-size: 22px;
            color: $secondary;
            padding-left: 60px;
        }
    }

    &__form {
        @include flexWidth(500px);
    }
}

@media screen and (max-width: 1180px) {
    .s-requireContact__call {
        padding-right: 60px;
        h2 {
            font-size: 52px;
        }
    }
    .s-requireContact__form {
        @include flexWidth(370px)
    }
}

@media screen and (max-width: 840px) {
    .s-requireContact .u-container {
        max-width: 620px;
        flex-wrap: wrap;
    }
    .s-requireContact__call {
        @include flexWidth(100%);
        margin-bottom: 40px;
        padding-right: 0;
        padding-top: 0;
        &:after {
            @include rotate(110deg, center);
            width: 70px;
            height: 40px;
            top: inherit;
            bottom: -60px;
        }
        h2, p {
            text-align: center;
            padding-left: 0;
        }
    }
    .s-requireContact__form {
        @include flexWidth(100%);
    }
}
