.s-services {
    //background: $white2;
    .c-swiperServicesCards {
        @include roundedAll(30px);
        display: flex;
        flex-direction: row;
        box-shadow: 0px 2px 103.88px 2.12px rgba(57, 57, 57, 0.05);
        .swiper-slide {
            @include transition();
            @include opacity(0);
            flex: 1 1 auto;
            min-width: 20%;
            position: relative;
            pointer-events: none;
            &:after {
                @include transition();
                @include opacity(1);
                content: '';
                display: block;
                width: 1px;
                height: 60%;
                background: $gray2;
                position: absolute;
                right: 0;
                top: 20%;
                z-index: 2;
            }
            &:hover {
                &:after {
                    @include opacity(0);
                }
            }
            &:last-of-type {
                .c-cardService {
                    @include rounded(top, right, 30px);
                    @include rounded(bottom, right, 30px);
                }
                &:after {
                    display: none;
                }
            }
            &:first-of-type {
                .c-cardService {
                    @include rounded(top, left, 30px);
                    @include rounded(bottom, left, 30px);
                }
            }

            &.swiper-slide-css-active {
                @include opacity(1);
                pointer-events: all;
            }
            &.css-last-active {
                &:after {
                    @include opacity(0);
                }
            }
        }
    }
    .swiper-pagination {
        bottom: -45px;
    }

    // deprecated
    &__list {
        @include roundedAll(30px);
        display: flex;
        flex-direction: row;
        box-shadow: 0px 2px 103.88px 2.12px rgba(57, 57, 57, 0.05);
        li {
            flex: 1 1 auto;
            max-width: 33.3%;
            min-width: 20%;
            position: relative;
            &:after {
                @include transition();
                @include opacity(1);
                content: '';
                display: block;
                width: 1px;
                height: 60%;
                background: $gray2;
                position: absolute;
                right: 0;
                top: 20%;
                z-index: 2;
            }
            &:hover {
                &:after {
                    @include opacity(0);
                }
            }
            &:last-of-type {
                .c-cardService {
                    @include rounded(top, right, 30px);
                    @include rounded(bottom, right, 30px);
                }
                &:after {
                    display: none;
                }
            }
            &:first-of-type {
                .c-cardService {
                    @include rounded(top, left, 30px);
                    @include rounded(bottom, left, 30px);
                }
            }
        }
    }
}


@media screen and (max-width: 620px) {
    .s-services {
        .c-swiperServicesCards {
            .swiper-slide {
                min-width: 100%;
                @include opacity(0);
                pointer-events: all;
                &:after {
                    display: none;
                }
                &.swiper-slide-active {
                    @include opacity(1);
                }
                &.swiper-slide-css-active {
                    @include opacity(1);
                    pointer-events: all;
                }
            }
        }
    }
}
